*{ 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font-family: 'Montserrat', sans-serif;
	--negro_claro: #111111;
	--negro_oscuro: #0a0a0a;
	--gris: #A1B0BF;
	--azul_oscuro: #0885f9;
	--azul_claro: #3aa1ff;
	--blanco: #ffffff;
}

a{ text-decoration: none; }

.main_head{ 
	background-color: #0a0a0a; 
	display: grid;
	padding: 10px;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	align-items: center;
}

.main_head a { color: #A1B0BF; font-size: 18px;  }
.main_head a:hover{ color: #fff; font-weight: bold; }

.menu{
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 1fr;
	text-align: center;
}

.main_secc{
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: #0a0a0a;
	padding: 50px;
}

.servicios, .planes, .articulos{
	display: grid;
	grid-template-rows: 1fr;
	grid-gap: 10px;
	color: #fff;
}

.planes_cards, .servicios_cards, .articulos_cards{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.planes, .articulos{
	background-color: #111111;
}

.planes_descripcion, .servicios_descripcion, .articulos_descripcion{
	text-align: center;
	padding: 50px;
	display: grid;
	grid-template-rows: 1fr;
	grid-gap: 10px;
}

.planes_cards_list{
	list-style-type: '\2713';
	margin-left: 20px;
}

.planes_cards_card, .articulos_cards_card, .servicios_cards_card{ 
	/*width: 364px; solo planes*/
	margin: 30px; 
	padding: 25px;
	display: grid;
	grid-template-rows: 1fr;
	grid-gap: 10px;
	justify-items: start;
	border-radius: 25px;
	background-color: #000;
}

.planes_cards_card{ height: 405px; width: 365px; }

.planes_cards_card h2{ 
	color: var(--azul_oscuro); 
	font-weight: bold; 
	font-size: 30px;
}

.servicios{	background-color: #0a0a0a; }
.servicios_cards_card{ background-color: #111111; }
.servicios_cards_card, .articulos_cards_card { justify-items: start; text-align: justify; }
.web-icon{ background-color: var(--azul_oscuro); padding: 20px; border-radius: 50%; font-size: 25px;}


.articulos_imagen{ width: 100%; }

.foot{
	background-color: #0a0a0a;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
	color: #fff;
	padding: 25px;
	align-items: center;
}

.foot a{ color: #fff; text-decoration: underline; }

.foot__copy, .foot__links{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.social-icon{ font-size: 20px; }

@media (max-width: 700px){
	.main_secc{ display: block; margin-bottom: 10px; }
	
	.main_head{ display: block;}

	.main_secc h1{	margin: 50px 0; }

	.planes, .servicios, .articulos{ display: block; }
	.planes_cards, .servicios_cards, .articulos_cards { display: block; }
	.planes_cards_card, .servicios_cards_card, .articulos_cards_card{  margin: 0 auto; }
	
	.servicios_cards_card, .articulos_cards_card{ width: 75%; margin-bottom: 10px; }
	.planes_cards_card{ margin-bottom: 10px; }
	.planes_cards_card_last{ margin-bottom: none; }

	.foot{ display: block;}
	.social-icon { font-size: 25px; }
	.redes_sociales{ margin: 15px 0; }

}
